.menu__bg {
  will-change: opacity;
}

.menu__inner {
  will-change: transform;
}

.menu-enter-active .menu__bg,
.menu-exit-active .menu__bg,
.menu-enter-active .menu__inner,
.menu-exit-active .menu__inner {
  transition-duration: 300ms;
}

.menu-enter-active .menu__bg,
.menu-exit-active .menu__bg {
  transition-property: opacity;
}

.menu-enter-active .menu__inner,
.menu-exit-active .menu__inner {
  transition-property: transform;
}

.menu-enter .menu__bg,
.menu-exit.menu-exit-active .menu__bg {
  opacity: 0;
}

.menu-exit .menu__bg,
.menu-enter.menu-enter-active .menu__bg {
  opacity: 1;
}

.menu-enter .menu__inner,
.menu-exit.menu-exit-active .menu__inner {
  transform: translateX(-100%);
}

.menu-exit .menu__inner,
.menu-enter.menu-enter-active .menu__inner {
  transform: translateX(0);
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100001;
  overscroll-behavior: contain;
  overflow: hidden;
}

.menu__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(24, 24, 27, 0.92);
  cursor: pointer;
}

.menu__inner {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.menu__content {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu__title {
  margin-bottom: 16px;
}

.menu__list {}

.menu__item {}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  padding: 16px 0;
  background: none;
  border: none;
  text-align: left;
  color: inherit !important;
  font-size: 16px;
  border-bottom: 1px solid var(--border-color);
}

.menu__btn-icon {
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 16px;
}

.menu__btn-icon svg {
  display: block;
}

.menu__btn-text {
  flex-grow: 1;
  min-width: 1px;
}

.menu__btn-title {
  display: block;
  margin: 0;
}

.menu__btn-desc {
  display: block;
  opacity: 0.5;
}

.menu__btn-arrow {
  font-size: 24px;
  flex-shrink: 0;
}

.menu__btn-arrow svg {
  display: block;
}

.menu__data {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0 0;
}

.menu__data>div {
  margin-bottom: 10px;
}

.menu__data dt {
  display: inline;
  font-weight: 600;
}

.menu__data dd {
  display: inline;
  margin: 0;
}

.menu__data a {
  color: inherit;
  text-decoration: none;
}

.menu__main {
  margin-bottom: auto;
}

.menu__copyright {
  margin-top: 20px;
}

.menu__group {
  border-bottom: 1px solid var(--border-color);
}

.menu__group .menu__btn {
  border: none;
}

.menu__group-header .menu__btn-arrow {
  font-size: 16px;
  margin-right: 4px;
  transform: rotate(90deg);
}

.menu__group.is-open .menu__group-header .menu__btn-arrow {
  transform: rotate(-90deg);
}

.menu__group-list {
  position: relative;
  padding-left: 32px;
  padding-bottom: 16px;
}

.menu__group-list:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 54px;
  border-left: 1px solid var(--border-color);
}

.menu__group:not(.is-open) .menu__group-list {
  display: none;
}

.menu__group-list .menu__item:not(:last-child) {
  margin-bottom: 8px;
}

.menu__group-list .menu__btn {
  padding: 9px 8px;
}

.menu__group-list .menu__btn:hover,
.menu__group-list .menu__btn.active {
  background: #E7EAEE;
}

.menu__group-list .menu__btn-icon {
  font-size: 20px;
  margin-right: 10px;
}