.order-item {
  display: flex;
  padding: 14px;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  color: var(--page-item-color);
  box-shadow: var(--page-item-shadow);
  background: var(--page-item-bg);
}

.order-item:hover {
  color: var(--page-item-color);
}

.order-item:active {
  background: var(--page-item-bg-hover);
}

.order-item__content {
  flex-grow: 1;
  min-width: 1px;
}

.order-item__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.order-item__price {
  background-color: rgb(0 0 0 / 5%);
  border-radius: 6px;
  padding: 4px 10px;
  line-height: 20px;
  font-size: 15px;
  display: inline-block;
  font-weight: 500;
}

.order-item__image {
  flex-shrink: 0;
  margin-left: 12px;
  position: relative;
}

.order-item__image img {
  display: block;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.order-item__basket-count {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  font-size: 48px;
  color: #fff;
}