html.is-popup-open {
  scroll-behavior: auto;
}

html.is-popup-open body {
  overflow: hidden !important;
  touch-action: none;
}

html.is-popup-open body,
html.is-popup-open .header,
html.is-popup-open .popup__wrapper {
  margin-right: var(--scrollbarWidth);
}

.popup-transition-enter-active .popup__bg,
.popup-transition-exit-active .popup__bg,
.popup-transition-enter-active .popup__wrapper,
.popup-transition-exit-active .popup__wrapper {
  transition-duration: 300ms;
}

.popup-transition-enter-active .popup__bg,
.popup-transition-exit-active .popup__bg {
  transition-property: opacity;
}

.popup-transition-enter-active .popup__wrapper,
.popup-transition-exit-active .popup__wrapper {
  transition-property: transform;
}

.popup-transition-enter .popup__bg {
  opacity: 0;
}

.popup-transition-enter-active .popup__bg {
  opacity: 1;
}

.popup-transition-exit .popup__bg {
  opacity: 1;
}

.popup-transition-exit-active .popup__bg {
  opacity: 0;
}

.popup-transition-enter .popup__wrapper {
  transform: translateY(100%);
}

.popup-transition-enter-active .popup__wrapper {
  transform: translateY(0);
}

.popup-transition-exit .popup__wrapper {
  transform: translateY(0);
}

.popup-transition-exit-active .popup__wrapper {
  transform: translateY(100%);
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100001;
  overscroll-behavior: contain;
  overflow: hidden;
  cursor: pointer;
}

.popup__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(24, 24, 27, 0.92);
  cursor: pointer;
}

.popup__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.popup__window {
  cursor: auto;
  background: #fff;
  position: relative;
  z-index: 20;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.popup__close {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  z-index: 100;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
}

.popup__close svg {
  display: block;
}

.popup__inner {
  max-height: calc(100vh - 80px);
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  border-radius: 15px 15px 0 0;
}