.cart-btn {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 17px;
  padding-right: 17px;
}

.cart-btn__content {
  min-width: 1px;
  display: flex;
  align-items: center;
}

.cart-btn__title {
  flex-grow: 1;
  min-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.35em;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.cart-btn__count {
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1px 6px;
  margin: -1px 0;
  border-radius: 5px;
  display: inline-block;
  flex-shrink: 0;
}

.cart-btn__amount {
  flex-shrink: 0;
  margin-left: 10px;
}