.has-scrollbar {
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1024px) {
  .has-scrollbar {
    overflow-y: overlay;
    scrollbar-color: rgba(0, 0, 0, .2) transparent;
    scrollbar-width: thin;
  }

  .has-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .has-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .has-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }

  .has-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .6);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  min-width: 320px;
  margin: 0;
  overflow-y: scroll;
  background-color: var(--main-bg);
  color: var(--main-color);
  padding: 80px 0 70px;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:hover,
:active,
:focus {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

b,
strong {
  font-weight: bold;
}

a,
button {
  transition: 0.15s ease-in-out;
  transition-property: color, border-color, background-color, opacity, box-shadow;
}

a {
  background-color: transparent;
  text-decoration: underline;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

.btn {
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  border-radius: 10px;
  border-color: var(--btn-bg);
  background-color: var(--btn-bg);
  color: var(--btn-color);
  padding: 13px 29px;
  letter-spacing: 2px;
  font-weight: 500;
}

.btn:hover {
  border-color: var(--btn-hover-bg);
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
}

.btn[disabled],
.btn.is-disabled {
  opacity: 0.55;
  cursor: default;
  cursor: not-allowed;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit;
  text-decoration: none;
}

p,
ul,
ol,
dl,
pre,
table,
figure,
address,
fieldset,
blockquote {
  margin: 0 0 16px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  margin: 0 0 16px 0;
}

h1,
.h1 {
  font-size: 20px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

.grecaptcha-badge {
  opacity: 0;
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10001;
  background: var(--main-bg);
  opacity: 1;
  transition: 300ms;
}

.loader.exit-active {
  opacity: 0;
}

.loader:before {
  --size: 50px;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--size);
  height: var(--size);
  margin: calc(var(--size) / -2);
  border: 4px solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear 0s infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 976px;
}

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex: 0 0 auto;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.content-wrapper {
  position: relative;
}

.content {
  background: var(--main-bg);
  will-change: opacity;
}

.content-enter,
.content-exit.content-exit-active {
  opacity: 0;
}

.content-exit,
.content-enter.content-enter-active {
  opacity: 1;
}

.content-exit-active,
.content-enter-active {
  transition: opacity 300ms;
}

.content-exit {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
  z-index: -1;
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}