.catalog-item {
  display: flex;
  padding: 14px;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  color: var(--page-item-color);
  box-shadow: var(--page-item-shadow);
  background: var(--page-item-bg);
}

.catalog-item:last-child {
  margin-bottom: 0;
}

.catalog-item:hover {
  color: var(--page-item-color);
}

.catalog-item:active {
  background: var(--page-item-bg-hover);
}

.catalog-item__content {
  flex-grow: 1;
  min-width: 1px;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.catalog-item__price-row {
  text-align: right;
}

.catalog-item__price {
  background-color: rgb(0 0 0 / 5%);
  border-radius: 6px;
  padding: 4px 10px;
  line-height: 20px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}

.catalog-item__btn {
  padding: 4px 10px;
  font-size: 18px;
  margin-left: 8px;
}

.catalog-item__btn svg {
  display: block;
}

.catalog-item__image {
  flex-shrink: 0;
  order: -1;
  margin-right: 12px;
  position: relative;
}

.catalog-item__image img {
  display: block;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.catalog-item__basket-count {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  font-size: 48px;
  color: #fff;
}

.catalog-item._small {
  display: block;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  width: 120px;
  background: none;
  border: 1px solid var(--border-color);
}

.catalog-item._small.is-active {
  border-color: var(--link-color);
  background: var(--page-item-bg);
}

.catalog-item._small .catalog-item__image {
  margin: 0 auto 10px;
}

.catalog-item._small .catalog-item__title {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.catalog-item._small .catalog-item__price-row {
  text-align: center;
}