.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
  background: var(--main-bg);
}

.header-placeholder,
.header__content {
  height: 80px;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__center {
  flex-grow: 1;
  min-width: 1px;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.header__title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
}

.header__title-icon img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 70px;
}

.header__left {
  order: -1;
  margin-left: -6px;
}

.header__right {
  justify-content: flex-end;
  margin-right: -6px;
}

.header__btn {
  position: relative;
  height: 30px;
  width: 32px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
}

.header__btn:hover {
  color: var(--link-color-hover);
}

.header__btn:first-child {
  margin-left: 0;
}

.header__btn:last-child {
  margin-right: 0;
}

.header__btn>span {
  flex-shrink: 0;
}

.header__btn._back {
  font-size: 24px;
}

.header__btn._lang>span {
  width: 21px;
  height: 21px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%) inset;
}

.header__btn._burger:before,
.header__btn._burger:after {
  content: '';
}

.header__btn._burger:before,
.header__btn._burger:after,
.header__btn._burger span {
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 2px;
  width: auto;
  margin-top: -1px;
  background: currentColor;
}

.header__btn._burger:before {
  transform: translateY(-6px);
}

.header__btn._burger:after {
  transform: translateY(6px);
}

.header__btn._burger span {
  transform-origin: 100% 50%;
  transform: scaleX(.8);
  transition: transform .25s ease-in-out;
}

.header__btn._burger:hover span {
  transform: scaleX(1);
}

@media (max-width: 575.98px) {

  .header__left,
  .header__right {
    width: 40px;
  }

  .header__btn._currency {
    display: none;
  }
}