.cart__row {
  margin-bottom: 20px;
}

.cart__row-label {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 500;
}

.cart__row-content {}

.cart__btn-row {
  margin: 0 -5px;
}

.cart__btn {
  width: 100%;
}